<p id="notice"><%= notice %></p>

<h1>Listing Completes</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @completes.each do |complete| %>
      <tr>
        <td><%= link_to 'Show', complete %></td>
        <td><%= link_to 'Edit', edit_complete_path(complete) %></td>
        <td><%= link_to 'Destroy', complete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Complete', new_complete_path %>
