<div class="container">
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Student</h4>
                </div>
                <div class="panel-body">
                  <%= form_for(@student) do |f| %>
                    <% if @student.errors.any? %>
                      <div id="error_explanation">
                        <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

                        <ul>
                        <% @student.errors.full_messages.each do |message| %>
                          <li><%= message %></li>
                        <% end %>
                        </ul>
                      </div>
                    <% end %>
                    <div class="form-group">
                      <%= f.text_field :fname, class:"form-control", placeholder:"First Name" %>
                    </div>
                    <div class="form-group">
                      <%= f.text_field :lname, class:"form-control", placeholder:"Last Name" %>
                    </div>
                    <div class="form-group">
                      <%= f.text_field :email, class:"form-control", placeholder:"Email" %>
                    </div>
                    <select class="form-control empty">
                      <option value="" selected disabled>Emphasis</option>
                      <option value="1">BBEAC</option>
                    </select>

                  <hr/>
                  <%= f.submit "Submit Student Record", class:"btn btn-primary btn-block", style: "color:#fff" %>
                  <hr/>
                  <%= link_to "Cancel", root_path(), class:"btn btn-primary btn-block", style: "color:#fff" %>
                  </div>


            </div>
          </div>

        <!-- **************************************************************************************** -->
        <div class="col-md-4">

        </div>
        <!-- <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Required Courses</h4>
                </div>
                  <div class="panel-body">

                    <%= f.fields_for :completes do |course| %>
                      <%= render 'completed_courses', f: course %>
                    <% end %>
                    <div class="links">
                      <%= link_to_add_association 'Add Course To Your Student Record', f, :completes %>
                    </div>

                    </div>
                  </div>
                </div> -->
            <% end %>
          </div>
        </div>
