<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @course.number %>
</p>

<p>
  <strong>School:</strong>
  <%= @course.school %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @course.hours %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
