<p id="notice"><%= notice %></p>

<table class="table table-bordered">
    <thead>
      <tr>
        <th>School</th>
        <th>Title</th>
        <th>Hours</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @course.school %></td>
        <td><%= @course.title %></td>
        <td><%= @course.hours %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(@course) %> |
          <%= link_to 'Back', courses_path %>
        </td>
      </tr>
    </tbody>
  </table>
